@page "/contact"

<PageTitle>Contact - ADIRA</PageTitle>
<div style="display:flex; height:100%; align-items:center; justify-content:center">
    <p align="center" >
        This application is designed, developed and maintained by <strong>Aura Team</strong>.<br />
        Incase of any ideas, queries, issues and feedback about the application please do reach us out <a href="mailto:aura.india@antra.com"> here </a>.<br />
        Incase of any ideas, queries, issues and feedback in general, reach out to <a href="mailto:adira@techwishgroup.com"> here </a>
    </p>
</div>