@page "/"
@inject IJSRuntime _js



<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <PageTitle>ADIRA</PageTitle>

        <h1>Hello, @context.User.Identity.Name!</h1>


    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>

    </NotAuthorized>
</AuthorizeView>

<img alt="About Adira" width="100%" src="img/about.webp" />



