@page "/manageEmployees"
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Administrator")]
<style>
    .custom-container {
        text-align: right;
    }
</style>

<div class="container custom-container">
    <button class="btn btn-primary" @onclick="ShowPopup">Manage Employees</button>
</div>


<!-- Popup Component -->
<div class="modal-overlay" style="display: @(isPopupVisible ? "flex" : "none")">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Manage Employees</h3>
            <button class="btn-close" @onclick="ClosePopup">×</button>
        </div>
        <div class="modal-body">
            <InputFile accept=".xlsx" OnChange="HandleFileChange" class="form-control" />
          @* <InputFile OnChange="HandleFileChange" />
           <button @onclick="UploadFile">Upload</button>*@
            <br />
           
        </div>
    </div>
</div>

@*<button type="button" class="btn btn-primary" @onclick="GetEmployeeDataFromServer">Show Saved Employee Data</button>
<br />
*@<Employees EmployeesData="@EmployeesData"></Employees>

